/* колір основного тексту #757575 */
/* колір тексту заголовків #212121 */

/* білий #FFFFFF */
/* акцент  #2196F3 */

/* колір в футері rgba(255, 255, 255, 0.6);*/
/* активна кнопка герой #188CE8 */
/* основний бекграунд #F5F5F5 */
/* вторичний бекграунд #F5F4FA */

/* футер і герой #2F303A */
/* бекграунд в герой #C4C4C4 */
/* бекграунд соцмереж в футері rgba(255, 255, 255, 0.1);*/

/* backdrop: rgba(0, 0, 0, 0.2); */

/* час переходу для ховер і фокус 250ms */
/* cubic-bezier для ховер і фокус (0.4, 0, 0.2, 1) */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --address-color: rgba(255, 255, 255, 0.6);
  --secondary-bg-color: #f5f4fa;
  --hero-and-footer-bg: #2f303a;
  --btn-active: #188ce8;
  --link-bc--: #afb1b8;
  --socials-footer-bg: rgba(255, 255, 255, 0.1);
  --hero-bg: #c4c4c4;
  --backdrop: rgba(0, 0, 0, 0.2);

  --transition-time-hover-focus: 250ms;
}

body {
  margin: 0;

  font-family: Roboto, system-ui;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.container {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

/*  ---------- Лого ----------  */
.logo-header {
  margin-right: 93px;
  padding: 25px 0;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
}
.logo__web {
  color: var(--accent-color);
}
.logo__studio {
  color: var(--white-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*  ---------- Шапка сайту ---------- */
.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav {
  display: flex;
  align-items: center;
}

.link {
  padding: 32px 0;
}

/*  ---------- Сайт навігація ----------  */
.site-nav__list {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;

  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color var(--transition-time-hover-focus)
    cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;

  background-color: var(--accent-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}


/*  ---------- Контакти навігація ----------  */

.contacts-nav {
  position: relative;

  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-nav__item:not(:last-child) {
  margin-right: 40px;
}

.contacts-nav__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-time-hover-focus)
    cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav__link:hover,
.contacts-nav__link:focus {
  color: var(--accent-color);
}

.contacts-nav__link{
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  fill: currentColor;
}
.contacts-nav__link:hover,
.contacts-nav__link:focus {
  color: var(--accent-color);
}
.contacts-nav__svg-envelope{
  margin-right: 10px;
  width: 16px;
  height: 12px;
}
.contacts-nav__svg-smartphone{
  margin-right: 10px;
  width: 10px;
  height: 16px;
}
/* ---------- hero ---------- */

.hero {
  padding: 200px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--hero-bg);

  text-align: center;

  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  margin-bottom: 30px;
  margin: auto;

  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}
.hero__btn {
  margin-top: 30px;
  border-radius: 4px;
  padding: 10px 24px;
  min-width: 67px;

  font-family: Roboto, system-ui;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: background-color var(--transition-time-hover-focus)
    cubic-bezier(0.4, 0, 0.2, 1);

  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--white-color);
  background-color: var(--accent-color);
}
.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--btn-active);
}

.modal__btn{
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  padding: 6px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  background-color: var(--white-color);
  fill: var(--black-color);
}

.modal__btn:hover,
.modal__btn:focus {
  fill: var(--accent-color);
}

.modal__svg{
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 1;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;

  background-color: var(--backdrop);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;

  padding: 40px;

  background: var(--white-color);
}

.modal__title {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.form__title {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__input {
  width: 448px;
  height: 40px;

  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;
}

.form__field:focus-within > .form__input,
.form__field:focus-within > .form__svg,
.form__comment:focus-within > .form__textarea {
  fill: var(--accent-color);
  outline: none;

  border-color: var(--accent-color);
}

.form__field {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 10px;
}

.form__svg {
  position: absolute;

  top: 50%;
  left: 15px;

  width: 18px;
  height: 18px;
}
.form__comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 20px;
}
.form__textarea {
  resize: none;
  width: 448px;
  height: 120px;

  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 30px;
}


.checkbox__text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;
}

.checkbox__link {
  text-decoration: underline;
  cursor: pointer;

  color: var(--accent-color);
}

.checkbox__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  cursor: pointer;
}

.checkbox__svg {
  width: 16px;
  height: 15px;
  margin-right: 8.38px;

  border: 2px solid #212121;
  border-radius: 4px;

  fill: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__svg {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.form__btn {
  padding: 10px 52px;
  min-width: 200px;
  min-height: 50px;

  margin-left: auto;
  margin-right: auto;

  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: background-color var(--transition-time-hover-focus)
    cubic-bezier(0.4, 0, 0.2, 1);

  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--white-color);
  background-color: var(--accent-color);
}

.form__btn:hover,
.form__btn:focus {
  background-color: var(--btn-active);
}

/*  ---------- Наші переваги ----------  */
.features {
  padding: 94px 0px;
}
.features__list {
  display: flex;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}
.features__item {
  width: 270px;
  margin-left: 0;
}

.features__title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__descr {
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
}

.features__box::before {
  content: "";
  display: block;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;

  background-repeat: no-repeat;
  background-position: center;
}

.features__icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.features__icon-clock::before {
  background-image: url(../images/clock.svg);
}

.features__icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.features__icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
/*  ---------- Чим ми займаємося ---------- */

.actions {
  padding-bottom: 94px;
}
.actions__list {
  display: flex;
}
.actions__item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.actions__item {
  position: relative;
}

.actions__descr {
  position: absolute;
  bottom: 0px;
  left: 0;

  display: flex;
  margin: 0;

  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  justify-content: center;
  align-items: center;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/* ----------  Наша команда  ---------- */
.team {
  padding: 94px 0;
  background-color: var(--secondary-bg-color);
}

.team__container {
  margin-bottom: 0;
}

.team__list{
  display: flex;
}

.team__text {
  padding: 30px 0;
}
.team__title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__position {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.social{
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social__item{
  border-radius: 50%;
  border-color: var(--accent-color);
  flex-basis: calc ((100% - 3 * 10px) / 4);
}

.social__link {
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: fill var(--transition-time-hover-focus)
      cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--transition-time-hover-focus)
      cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--link-bc--);
}
.social__link:hover,
.social__link:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}

/*  ---------- ПОРТФОЛІО  ---------- */

/*  ------ кнопка  ------ */

.portfolio {
  padding: 94px 0px 94px;
}
.portfolio__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__btn {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: Roboto, system-ui;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;

  transition: color var(--transition-time-hover-focus)
      cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--transition-time-hover-focus)
      cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow var(--transition-time-hover-focus) cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  min-width: 67px;
}
.portfolio__btn:hover,
.portfolio__btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  flex-wrap: wrap;
  display: flex;
}

.card__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card__item:nth-child(3n + 3) {
  margin-right: 0;
}

.card__item {
  flex-basis: calc((100% - 2 * 30) / 3);

  margin-right: 30px;
  margin-bottom: 30px;
}
.card__link:hover,
.card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link {
  display: block;
  flex-wrap: wrap;

  transition: box-shadow var(--transition-time-hover-focus)
    cubic-bezier(0.4, 0, 0.2, 1);
}

.card__text {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.card__title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.card__descr {
  margin: 0;

  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.card__overlay::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;

  top: 100%;

  opacity: 0;
}
.card__link:hover .card__overlay-text {
  opacity: 1;
  transform: translateY(0%);
}

.card__overlay {
  position: relative;
  opacity: 1;
  overflow: hidden;
}
.card__img {
  display: block;
  width: 100%;
}
.card__overlay-text {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  opacity: 0;

  margin: 0;

  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

/* ------------ Клієнти ------------- */
.clients {
  padding: 94px 0px;
}
.clients__list {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__item {
  width: 170px;
  list-style-type: none;

  flex-basis: calc((100% - 150px) / 6);
}

.clients__icon {
  display: flex;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: var(--link-bc--);

  transition: fill var(--transition-time-hover-focus)
      cubic-bezier(0.4, 0, 0.2, 1),
    border var(--transition-time-hover-focus) cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients__icon:hover,
.clients__icon:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients__svg {
  justify-content: center;
  margin: 0px;
}
/*  ---------- Футер  ---------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--hero-and-footer-bg);
}
.footer__container {
  display: flex;
  align-items: baseline;
}


.footer__logo {
  margin-bottom: 28px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
}


.address__list {
  display: flex;
  flex-direction: column;
}
.address__item:not(:last-child) {
  margin-bottom: 12px;
}

.address__link-map {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address__link-contacts {
  color: var(--address-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  transition: color var(--transition-time-hover-focus)
    cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link-contacts:hover,
.address__link-contacts:focus {
  color: var(--accent-color);
}
.footer__address {
  display: flex;
  flex-direction: column;
}
/* -------------------Футер соцмережі--------------------- */
.footer-social {
  display: flex;
  margin-left: 70px;
  align-items: baseline;
  flex-direction: column;
  width: 206px;
  height: 80px;
}
.footer-social__title {
  margin: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-color);
}

.footer-social__list {
  gap: 10px;
  display: flex;

  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.footer-social__item {
  display: flex;
  border-radius: 50%;
  border-color: var(--accent-color);
  flex-basis: calc ((100% - 3 * 10) / 4);
}

.footer-social__link {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--transition-time-hover-focus)
    cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--white-color);
  background-color: var(--socials-footer-bg);
}
.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
}

/* ------------- Футер підписка --------------- */

.subscription {
  display: flex;
  margin-left: 93px;
  align-items: baseline;
  flex-direction: column;
  min-width: 570px;
  min-height: 86px;
}

.subscription__btn {
  position: relative;
  padding: 10px 62px 10px 28px;
  min-width: 200px;
  min-height: 50px;

  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: background-color var(--transition-time-hover-focus)
    cubic-bezier(0.4, 0, 0.2, 1);

  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--white-color);
  background-color: var(--accent-color);
}
.subscription__btn:hover,
.subscription__btn:focus {
  background-color: var(--btn-active);
}

.subscription__svg {
  position: absolute;
  top: 25%;
  right: 28px;

  width: 24px;
  height: 24px;

  fill: var(--white-color);
}

.subscription__input {
  width: 358px;
  height: 50px;

  padding: 0;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;

  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0);
}